@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #1c1d21
}

body{
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
}

li, a, button{
    font-family: "Montserrat,", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

li,a{
    background: #24252a;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;    
}

.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

article{
    width:60vw; 
    margin-right: auto;
    padding: 40px;
}

figure{
    margin-bottom: 40px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

video{
    width: 100%;
    margin-right: auto;
    border-radius: 20px;
}

img{
    width: 100%;
    margin-right: auto;
    border-radius: 20px;
 }


 h2, p{
    color: #edf0f1;
 }

 p{
    margin-bottom: 250px;
 }


.nav_links{
    list-style: none;
    background: #24252a;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
} 

.nav_links li a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.game{
    margin-bottom:20px;
    border-bottom: 5px solid rgb(0, 136, 169, 1);
}

figcaption{
    margin-bottom: 40px;
    color: #edf0f1;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 2400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}