@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #1c1d21
}

body {
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
}

li,
a,
button {
    font-family: "Montserrat,", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

li,
a {
    background: #24252a;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border-radius: 20%;
}


.nav_links {
    list-style: none;
    background: #24252a;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


.dot:hover {
    background-color: #717171;
}

#pong {
    border: 2px solid #FFF;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 40px;
}

.article2 {
    padding-top: 0;
}


#imageslider {
    width: 1200px;
    height: 850px;
    background: red;
    background-size: cover;
    animation-name: fotoslider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-radius: 15px;
    margin-top: 55px;
}

@keyframes fotoslider {
    0% {
        opacity: 0;
        background-image: url("../image/mensenlopendoorarcade.jpg");
    }

    12.5% {
        opacity: 1;
        background-image: url("../image/mensenlopendoorarcade.jpg");
    }

    24% {
        opacity: 0;
        background-image: url("../image/mensenlopendoorarcade.jpg");
    }

    25% {
        opacity: 0;
        background-image: url("../image/rambo.jpg");
    }

    37.5% {
        opacity: 1;
        background-image: url("../image/rambo.jpg");
    }

    49% {
        opacity: 0;
        background-image: url("../image/rambo.jpg");
    }

    50% {
        opacity: 0;
        background-image: url("../image/arcades.jpg");
    }

    62.5% {
        opacity: 1;
        background-image: url("../image/arcades.jpg");
    }

    74% {
        opacity: 0;
        background-image: url("../image/arcades.jpg");
    }

    75% {
        opacity: 0;
        background-image: url("../image/race\ gaming.jpg");
    }

    87.5% {
        opacity: 1;
        background-image: url("../image/race\ gaming.jpg");
    }

    99% {
        opacity: 0;
        background-image: url("../image/race\ gaming.jpg");
    }

    100% {
        opacity: 0;
        background-image: url("../image/mensenlopendoorarcade.jpg");
    }

}

.wrapper {
    min-height: 100vh;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'raleway', sans-serif;
    color: #FFF;

}

.wrapper h1 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}


.card {
    width: 380px;
    height: 250px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: #24252a;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-bottom: 40px;

}

.card img {
    height: 90px;
    width: 90px;
    border: 2px solid #0088a9;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}


.card p {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
    background: #24252a;
}

.card h2 {
    font-weight: 500;
    margin-bottom: 4px;
    background: #24252a;
}

.card h4 {
    color: #0088a9;
    font-weight: 400;
    font-size: 16px;
    background: #24252a;
}

h3 {
    margin: 3px;
    padding: 4px;
}

.card i {
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #0088a9;
}

.card:hover {
    transform: scale(1.4);
    color: #0088a9;
    background: #24252a;
    z-index: 10000;
}

@media(max-width: 768px) {
    .cards {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card {
        margin: 40px 0;
    }
}